extends layout

block content
  h1= title
  p Demo for posting events to Streaming Channels
  ul
    li: a(href='/streamchannels') View Available Streaming Channels
  p
  p Many thanks to @jeffdonthemic for his sample&nbsp;
    a(href="https://www.github.com/jeffdonthemic/node-nforce-demo") nforce project&nbsp;
    to hack apart for this demo
