extends layout

block content
  header.bar.bar-nav
    h1.title= title
  div.content
    div.card
      ul.table-view
        li.table-view-cell
          a.navigate-right(href='/streamchannels') View Available Streaming Channels
    div.content-padded
      p Demo for posting events to Durable Generic Streaming API Channels
      p Durable means that messages sent to the channel can be replayed for up to 24 hours. Each message has a sequential playback ID, so you can pick up from any point. If you want to have a go, click below.
      p Many thanks to @jeffdonthemic for his sample a(href="https://www.github.com/jeffdonthemic/node-nforce-demo") nforce project which I hacked to pieces for this demo.
