doctype html
html
  head
    title= title
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/ratchet/css/ratchet.min.css')
    script(src='ratchet/js/ratchet.min.js')
  body
    block content
